<?xml version="1.0"?>
<!-- 
rscam_trackscan.launch

Created by: Robson Rogério Dutra Pereira on 01.Out.2022
Last Modified: rrdpereira

Description: This is the Realsense Camera D435i configuration for RGB and point clouds with IMU.
-->
<launch>
    <arg name="camera" default="camera"/>
    <arg name="offline"          default="false"/>
    <include unless="$(arg offline)" 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="initial_reset"             default="true"/>
        <arg name="fisheye_width"       default="640"/>
        <arg name="fisheye_height"      default="480"/>
        <arg name="enable_fisheye"      default="false"/>
        <arg name="depth_width"         default="640"/>
        <arg name="depth_height"        default="480"/>
        <arg name="enable_depth"        default="true"/>
        <arg name="infra_width"         default="640"/>
        <arg name="infra_height"        default="480"/>
        <arg name="enable_infra"        default="false"/>
        <arg name="enable_infra1"       default="false"/>
        <arg name="enable_infra2"       default="false"/>
        <arg name="infra_rgb"           default="false"/>
        <arg name="color_width"         default="640"/>
        <arg name="color_height"        default="480"/>
        <arg name="enable_color"        default="true"/>
        <arg name="align_depth" value="false"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="fisheye_fps"         default="15"/>
        <arg name="depth_fps"           default="15"/>
        <arg name="infra_fps"           default="15"/>
        <arg name="color_fps"           default="15"/>
        <arg name="gyro_fps"            default="200"/>
        <arg name="accel_fps"           default="100"/>
        <arg name="enable_gyro"         default="true"/>
        <arg name="enable_accel"        default="true"/>
    </include>
</launch>