<?xml version="1.0"?>
<!-- 
start_scan.launch

Created by: Robson Rogério Dutra Pereira on 01.Out.2022
Last Modified: rrdpereira

Description: This is the lanch the conversion of Realsense Camera D435i point clouds with IMU to laser scan, and specific field of view.
-->
<launch>
    <arg name="camera" default="camera"/>
    <include file="$(find pc2l)/launch/rscam_scan.launch">
        <arg name="camera" default="$(arg camera)"/>
    </include>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <!-- <remap from="cloud_in" to="/depth/color/points"/> -->
      <remap from="cloud_in" to="/camera/depth/color/points"/>
      <remap from="scan" to="$(arg camera)/scan"/>
      <rosparam>
        target_frame: camera_link
        transform_tolerance: 0.05
        min_height: 0.200
        max_height: 0.210
        angle_min: -0.55
        angle_max: 0.55
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.3
        range_max: 2.0
        use_inf: false
        #inf_epsilon: 1.0
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>
</launch>